# PostHog
PUBLIC_POSTHOG_KEY=key
PUBLIC_POSTHOG_HOST=/ingest
PUBLIC_POSTHOG_UI_HOST=https://eu.posthog.com

# Cloudflare Pages Functions (reverse proxy)
POSTHOG_INGEST_HOST=eu.i.posthog.com
POSTHOG_ASSETS_HOST=eu-assets.i.posthog.com
